<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Phlebor Client Login</title>
    <script defer src="../clientHome.js"></script>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="phlebor.css">


</head>

<body class="">
    <nav class="navbar navbar-expand-lg navbar-dark greenText navBackgroundColor">
        <a class="navbar-brand d-flex align-items-center navBarTitle ml-2" href="./">Phlebor
            <!-- <img src="" width="60" height="60" class="d-inline-block align-top" alt="Phlebor_img"> Phlebor -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-2" id="navbarNav">
            <ul class="navbar-nav ml-auto navTitleMarginright">

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">Request a Phlebor</a>
                </li>

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">Past Requests</a>
                </li>

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="/clientHome">Profile</a>
                </li>

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">Payment</a>
                </li>

                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="./">Log Out</a>
                </li>


                <li class="nav-item dropdown ml-auto d-none d-lg-block">
                    <a class="nav-link dropdown-toggle homeNavButton d-flex align-items-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        User Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="color: C2CCCE;">
                        <a class="dropdown-item" href="#">Request a Phlebor</a>
                        <a class="dropdown-item" href="#">Past Requests</a>
                        <a class="dropdown-item" href="/clientHome">Profile</a>
                        <a class="dropdown-item" href="#">Payment</a>
                        <a class="dropdown-item" href="./">Log Out</a>
                    </div>
                </li>



            </ul>
        </div>
    </nav>

    <main>
        <div class="wrapper">
            <div class="container-fluid px-0">
                <!-- Sidebar -->
                <!-- <div class="row"> -->
                <div class="d-flex">

                    <nav id="sidebar" class="col-3 px-0 d-flex flex-column">
                        <div class="sidebar-header d-flex align-items-center justify-content-center p-3">
                            <!-- <h3>Bootstrap Sidebar</h3> -->
                            <!-- <section class="img-cirlce"> -->
                            <img src="../pictures/edathisfinest.jpg" class="imgSizing">
                            <!-- </section> -->
                        </div>

                        <ul class="list-unstyled components">

                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <i class="fas fa-user-md mr-2"></i>
                                    Request a Phlebor</a>
                            </li>

                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <i class="fas fa-history mr-2"></i>
                                    Past Requests</a>
                            </li>

                            <li>
                                <a href="/clientHome" class="d-flex align-items-center sidebarFontWeight">
                                    <i class="fas fa-user mr-2"></i>
                                    Profile</a>
                            </li>

                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <i class="fas fa-credit-card mr-2"></i>
                                    Payment</a>
                            </li>

                            <li>
                                <a href="./" class="d-flex align-items-center">
                                    <i class="fas fa-sign-out-alt mr-2"></i>
                                    Log Out</a>
                            </li>
                        </ul>

                    </nav>

                    <div class="px-0 profileWidth">

                        <!-- Profile Title Section -->
                        <div class="row profileBackgroundColor mx-0 d-none d-md-flex align-items-center justify-content-center">
                            <button type="button" id="sidebarCollapse" class="btn btn-info d-lg-none">
                                <i class="fas fa-align-left"></i>
                                <span></span>
                            </button>
                            <div class="ml-auto mr-auto" style="">
                                <h1 class="">Profile</h1>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center d-md-none flex-column" style="background-color:#0ccbe5; height: 40%;">
                            <!-- <section> -->
                                <img id="crop-the-cats" src="../pictures/edathisfinest.jpg" class="img-circular">

                                <div>
                                    <%= user.first_name%>
                                    <%= user.last_name%>
                                </div>

                            <!-- </section> -->
                        </div>



                        <section class="profileFontSize ">
                            <div class="row mx-0 p-4 profileBorder">
                                <div class="col-2">
                                    <b> Name </b>
                                </div>
                                <div class="col-2">
                                    <%= user.first_name%>
                                </div>
                                <div class="col-2">
                                    <%= user.last_name%>
                                </div>
                                <div class="col-2">
                                    <b>Email</b>
                                </div>
                                <div class="col-2">
                                    <%= user.email%>
                                </div>

                            </div>
                            <div class="row mx-0 p-4 d-flex align-items-center profileBorder">
                                <div class="col-2">
                                    <b>Profile Picture</b>
                                </div>
                                <img src="../pictures/edathisfinest.jpg" class="imgSizing">
                                <div class="col-1"> </div>
                                <div class="col-2">
                                    <b>Phone Number</b>
                                </div>
                                <div class="col">
                                    <%= user.phone_number%>
                                </div>

                            </div>
                            <div class="row mx-0 px-4 py-5 profileBorder">
                                <div class="col-2">
                                    <b>Username</b>
                                </div>
                                <div class="col-4">
                                    <%= user.username%>
                                </div>
                                <div class="col-2">
                                    <b> Age</b>
                                </div>
                                <div class="col-2"> Under Construction </div>
                            </div>

                        </section>

                        <div class="row mx-0 p-4 profileBorder d-flex justify-content-center">
                            <a class="btn btn-primary" href="clientHomeEdit" role="Edit">Edit Profile Information</a>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>